.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}

.user-info-text{
	width: 100%;
}

.user-info-text th{
  font-size: 12px;
  font-weight: bold;
  border-top: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table{
  border-collapse:collapse;
  display: table;
	table-layout: fixed;
}

.title-tr1{
  text-align: left;
  border-bottom: 2px solid #ddd;
}

tr td{
  border-top: 1px solid #ddd;
}

.title-tr td:nth-child(1){
  width: 50px;
}

.title-tr td:nth-child(2){
  width: 100px;
}

.title-tr td:nth-child(3){
  width: 200px;
}

.title-tr td:nth-child(4){
  width: 250px;
}

.title-tr td:nth-child(5){
  width: 50px;
}

.title-tr td:nth-child(6){
  width: 50px;
}

.img-for-book{
  width: 40px;
  height: 40px;
}

.btn-edit{
  width: 100%;
	height: 35px;
  margin: 10px 0;
  padding: 5px;
  text-align: center;
  border: 1px solid #666;
  border-radius: 8px;
  font-weight: bold;
}

.pull-right{
	width: 100%;
  text-decoration: none;
  color: #666;
}

.form-title, .form-opinion{
  width: 100%;
  margin-bottom: 10px;
}

.form-title{
  height: 26px;
}

.form-opinion{
  height: 46px;
}

.btn-submit{
  background-color:#337ab7;
  width: 100%;
  text-align: center;
}

.btn-book-edit{
  color: white;
  background-color: #5cb85c;
  font-size: 15px;
  text-decoration: none;
  width: 74px;
  height: 34px;
  padding: 6px 12px;
  border-radius: 5px;
}

.btn-book-destroy{
  color: white;
  background-color: #d9534f;;
  font-size: 15px;
  text-decoration: none;
  width: 74px;
  height: 34px;
  padding: 6px 12px;
  border-radius: 5px;
}
