.cf:before,
.cf:after{
    content: "";
    display: table;
}
.cf:after{ clear: both; }

body{
  text-align: center;
}

.text-contents h2{
  margin-top: 50px;
  margin-bottom: 5px;
  font-size: 34px;
}

.sub-text{
  margin-bottom: 20px;
}

.comment{
  margin-bottom: 20px;
}

.btn{
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  line-height: 34px;
  border: 1px solid transparent;
  width: 470px;
  height: 34px;
  border-radius: 5px;
}

.btn-login{
  color: white;
  background-color: #5bc0de;
}

.btn-signup{
  color: white;
  background-color: #5cb85c;
}

.Co-text{
  display: inline;
  position: relative;
  top: 20px;
  left: 400px;
}
