header{
  width: 100%;
  height: 50px;
  background-color: #222222;
}

.title{
  font-size: 25px;
  padding-top: 10px;
  color: white;
  position: absolute;
  left: 300px;
}



.nav{
  list-style: none;
  font-size: 15px;
}

.glyphicon{
  color: #9d9d9d;
  text-decoration: none;
}

.glyphicon:hover{
  color: white;
}
